<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Let Me AskMy Butler</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div align="center">
      <form action="/action_page.php">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Ask.com_Logo.svg" alt="Ask Logo" width="133" height="97.05">
        <input type="text" id="search" name="search">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
