<!DOCTYPE html>
<html>
<head>
<style>
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}


input[type=text] {
  width: 600px;
  height: 48px;
  /* display: inline-block; */
  border: 1px solid #ccc;
  /* border-radius: 1px; */
  /* box-sizing: border-box; */
  font-size: 20px;
  /* text-indent: 15px; */
}

</style>
</head>
<body>

  <div class="box">
  <div>
  </div>
</div>

<div class="flex-container">
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Ask.com_Logo.svg" alt="Ask Logo" width="133" height="97.05">
  </div>
  <div align="center">
    <form action="/action_page.php">
      <input type="text" id="search" name="search">
      <input type="image" name="submit" src="../images/mag-glass-button.png" border="0" alt="Submit" style="width: 50px;" />
    </form>
</div>
</body>
</html>
