body {
  background-color: #e7e7e7;
  font-family: Helvetica Neue,Arial,sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

#animation {
  width: 1px;
  height: 1px;
  background-color: red;
  position: relative; z-index: 100;
  animation-name: cursor;
  animation-duration: 12s;
  animation-play-state: running;
}

@keyframes cursor {
  0%   {left:0px; top:0px;}
  1%   {left:0px; top:0px;}
  12%  {left:182px; top:53px;}
  25%  {left:185px; top:100px;}
  50%  {left:790px; top:50px;}
  100%  {left:790px; top:50px;}
}

#white_boarder_padding {
  border: 1px solid #c3c3c3;
  padding: 240px;
  border-radius: 6px;
  background-color: white;
}

#grey_background {
  border: 11px solid transparent;
  padding: 0px;
  border-radius: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 163px 670px;
  width: 100%;
}

.search-bar {
  width: 600px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 0px;
  font-size: 16px;
  text-indent: 15px;
}

.link-bar {
  width: 300px;
  height: 24px;
  font-size: 16px;
}

.copyButton {
  height: 30px;
  width: 30px;
  position: relative;
  top: 4px;
}



.copyIcon {
  position: relative;
  left: -3px;
  bottom: -1px;
}

input[type=image] {
  position: relative;
  left: -5px;
  top: 21px;
}
