<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheet.css">
</head>

<script type="text/javascript">

var txt = '<%=@search_query%>'

function hideDiv() {
  if (txt == '') {
    document.getElementById("clipboard").style.display = "none";
  } else {
    document.getElementById("clipboard").style.display = "block";
  }
}

function copyToClipboard() {
  var copyText = document.getElementById("clipboardInput");
  copyText.select();
  navigator.clipboard.writeText(copyText.value);
}

</script>

<body onload="hideDiv()">
  <div id="grey_background">
    <div id="white_boarder_padding">
      <div class="grid-container">
        <div class="grid-item-1">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Ask.com_Logo.svg" alt="Ask Logo" width="133" height="97.05">
        </div>
        <form autocomplete="off" action="/">
          <div class="grid-item-2">
            <input class ="search-bar" type="text" id="search" autofocus='autofocus' name="search">
              <input type="image" name="submit" src="/images/mag-glass-button.png" border="0" alt="Submit" style="width: 47px;">
          </div>
        </form>
      </div>
    </div>
    <br>
    <div id="clipboard" align="center" style="display:none">
      <input class ="link-bar" type="text" value="<%= @search_link %>" id="clipboardInput">
      <button class ="copyButton" onclick="copyToClipboard()">
        <img class ="copyIcon" src="/images/copytoclipboardsvg.svg" width="20" height="20">
      </button>
      <br>
      <br>
      <p1>Copy the link above and try it out yourself</p1>
      </div>
    </div>
</body>
</html>
