<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<script>

var i = 0
var txt = '<%=@search_query%>'
const speed = 200
var typeFinished = false

function typeWriter () {

  document.getElementById('search').value += txt.charAt(i)
  i++
  setTimeout(typeWriter, speed)

  if (document.getElementById('search').value === txt) {
    typeFinished = true
    setTimeout(function () { runAnim() }, 1000) // Needed to add setTimeOut to function
  }
}

function pauseAnim () {
  document.getElementById('animation').style.animationPlayState = 'paused'
  console.log('pauseAnim')
}


var runAnim = (function () {
  var executed = false
  return function () {
    if (!executed) {
      executed = true
      console.log('runAnim triggered twice')
      document.getElementById('animation').style.animationPlayState = 'running'
      setTimeout(function () { submitForm() }, 3000)
    }
  }
})()

function submitForm () {
  document.getElementById('form').submit()
}

function autoFocusOn () {
    document.getElementById("search").focus();
}

function animSequence () {
  setTimeout(function () { autoFocusOn() }, 1200)
  setTimeout(function () { typeWriter() }, 1500)
  if (!typeFinished) {
    setTimeout(function () { pauseAnim() }, 2500)
  }
}

</script>

<body onload="animSequence()">
  <div id="grey_background">
    <div id="white_boarder_padding">
      <div id="animation">
        <img src="/images/Windows96_pixel_cursor.png" alt="Orange">
      </div>
      <div class="grid-container">
      <div class="grid-container">
        <div class="grid-item-1">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Ask.com_Logo.svg" alt="Ask Logo" width="133" height="97.05">
        </div>
        <form id="form" autocomplete="off" action="/redirect">
          <div class="grid-item-2">
            <input type="text" id="search" name="search" value="">
              <input type="image" name="submit" src="/images/mag-glass-button.png" border="0" alt="Submit" style="width: 47px;">
          </div>
        </form>
      </div>
    </div>
</body>
</html>
