<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheet.css">
</head>

<script>

  function myFunction() {

    var variable = 'Testing <%=@search_query%>';
    console.log(`${variable}`);

    var i = 0;
    var txt = 'Lorem ipsum dummy text blabla.';
    var speed = 50;

    function typeWriter() {
      if (i < txt.length) {
        document.getElementById("demo").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    }

    // setTimeout(function(){document.getElementById("animation").style.animationPlayState = "running";}, 3000);

}
</script>



<body onload="myFunction()">
  <div>
    <p> Testing </p>
    <p id="demo"></p>
  </div>

</body>
</html>
